.header > title {
  margin-top: 3.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  font-size: 1.85rem;
  font-weight: 500;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 510px;
  height: 45px;
  position: absolute;
  border-radius: 8px 15px 15px 8px;
  margin-top: 120px;
  margin-left: 37%;
  text-indent: 15px;
  font-size: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.85rem;
  position: absolute;
  border-radius: 0px 15px 15px 0px;
  margin-top: 7.5rem;
  margin-left: 61.2%;
  background-color: black;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(56, 56, 56);
  color: white;
}

.results_center {
  display: flex;
  margin-left: 25rem;
  margin-top: 14rem;
  position: absolute;
  z-index: 1;
}
.results_container {
  display: flex;
  flex-direction: column;
  width: 70rem;
  height: 8rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.363);
}

.items_row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;

  color: black;
}

.items {
  display: flex;
  flex-direction: column;

  letter-spacing: 1px;
}
.items > span {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(131, 131, 131);
  margin-top: 8px;
  
}
.items > p {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(2, 0, 0, 0.808);
  margin-top: 1rem;
  
}

@media (max-width: 915px){
.input{
  
  width: 80%;
  margin: 7rem 8%;
  font-size: .8rem;
 
}
.button{
  width: 3rem;
  margin: 7rem 83%;
 
}
.results_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  margin-left: 2%;

 
  background-color: white;
  
  border-radius: 8px;
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.363);
}
.results_center {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 0;
  padding: 1rem;

  width: 90%;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.items > span{
  font-size: .85rem;
}
.items > p{
  font-size: .9rem;
}
.items_row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}



